@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2rem;
    transition: .2s linear;
    list-style-type: none;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
}


/* >>>>> Reusable Styles <<<<<< */
section {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary {
    background-color: yellow;
}

img {
    width: 100%;
    height: auto;
}

.title {
    font-size: 5rem;
}

.title-md {
    font-size: 3.5rem;
}

.para {
    line-height: 1.5;
}

.font-style {
    font-family: "Lobster", sans-serif;
    color: gold;
    font-size: 3rem;
}




/* >>>>> Header Section Starts <<<<<< */
.header {
    background-color: orange;
    
}

.header .flex {
    display: flex;
    justify-content: space-between;
}

.header .flex .menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1.5rem;
}




/* >>>>> Main Section Starts <<<<<< */
.main {
    /* background-color:  yellow; */
    min-height: calc(100vh - 7.48rem);
}

.main .row {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    /* background-color: orange; */
}

.main .row .left__site {
    flex: 1 1 40rem;
    /* background-color: dodgerblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.main .row .right__site {
    flex: 1 1 40rem;
    text-align: center;
}

.main .row .right__site > img {
    width: 80%;
}

.main .row .btn-group {
    margin-block: 2rem;
    width: fit-content;
}



/* >>>>> About Section Starts <<<<<< */
.about {
    width: 100%;
    /* background-color: dodgerblue; */
}

.about .flex {
    display: flex;
    gap: 2rem;
    flex-flow: row wrap;
}

.about .flex .left__site,
.about .flex .right__site {
    flex: 1 1 40rem;
}

.about .flex .right__site {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: fit-content;
    position: relative;
}

.about .flex .right__site .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    cursor: pointer;
}

.about .flex .right__site .overlay:hover {
    opacity: .5;
    background-color: black;
}

.about .flex .right__site > img {
    border-radius: 1rem;
}

.about .flex .list .item {
    margin-block: 2rem;
}

.about .flex .list .item::before {
    content: "✔";
    padding-inline-end: 2rem;
}

.about .flex .title-md {
    margin-block: 2rem;
}


/* >>>>> Quote Section Starts */
.quote {
    width: 100%;
    background-color: rgb(16, 175, 16);
    margin-block: 2rem;
}

.quote section {
    padding-block: 5rem;
}

@media (max-width: 576px) {
    html {
        font-size: 50%;
    }

    .header .flex .menu {
        display: none;
    }
}



@media (max-width : 1250px) {
    body {
        /* background-color: dodgerblue; */
    }

    section {
        padding-inline: 2rem;
    }
}